
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: showbiz_project-db
  port: 5432

development:
  <<: *default
  database: project_ror_development

test:
  <<: *default
  database: project_ror_test


production:
  <<: *default
  database: project_ror_production
  url: postgres://postgres:4&39tBx9Q3vT@showbiz_project-db:5432/project_ror_production?sslmode=disable
