default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: project_ror_development

test:
  <<: *default
  database: project_ror_test


production:
  <<: *default
  database: project_ror_production
  url: <%= ENV["DATABASE_URL"] %>
