
default: &default
  adapter: postgresql
  encoding: UTF-8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>


development:
  <<: *default
  database: project_ror_development

test:
  <<: *default
  database: project_ror_test


production:
  <<: *default
  database: project_ror_production
  host: 'srv-captain--postgres14'
  username: postgres
  password: 102030
