
default: &default
  adapter: postgresql
  encoding: UTF-8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>


development:
  <<: *default
  database: project_ror_development

test:
  <<: *default
  database: project_ror_test


production:
  <<: *default
  database: project_ror_production
  url: <%= ENV['DATABASE_URL']]%>
